.ant-input{
   font-size: 16px!important;
   background-color: #1e242c!important;
   color: white!important;
   /* font-weight: lighter!important; */
   border: 0px solid black!important;
}
.name-input{
    height: 50px!important;
    margin: 2px!important;
}
.email-input{
    height: 50px!important;
    margin: 2px!important;
}
.textarea-input{
    margin: 2px!important;
    height: 160px!important;
}
.submit-button{
  background: transparent!important;
  font-size: 12pt!important;
  padding: 10px 30px 30px 30px!important;
  margin: 5px 0 0 0!important;
  cursor: pointer!important;
  border: 2px solid #fff!important;
  border-radius: 0px!important;
  color: #fff!important;
  font-weight: lighter!important;

}
/* .submit-button:hover{
  background-color: yellow!important;
} */
.submit-button:active{
  background-color: #04c2c9!important;
  border-color: #04c2c9!important;
}
.submit-button:focus{
    background-color: #04c2c9!important;
    border-color: #04c2c9!important;
}
.contact{
  background: #252934!important;
  padding-bottom: 175px;
 min-height: 100vh;
 padding-top: 100px;
}
::placeholder{
     color:#4F5155!important;
}
.contact-heading{
  color: #fff;
  font-weight: bold;
  font-size: 30pt;
}
.contact-sub-title{
  color: #04c2c9;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  padding-bottom:30px;

}
.container-fluid{
  padding: 0px 0px 0px 0px;
}
.ant-result {
    padding: 56px 32px!important;
}
.ant-result-title {
    color: white!important;
    font-size: 20px;
    line-height: 1.8;
    text-align: center;
}
.ant-result-icon {

    margin-bottom: 10px;
    text-align: center;
}
