.about{
  min-height: 100vh;
}
.amanImg{
  border-radius: 90px;
}
.about-me-title{
  font-weight:  bold!important;
  font-family: 'Raleway', sans-serif;
  word-spacing: 6px;
  font-size: 30px;
}
p{
  margin-bottom: 0px;
}
.about-me-description{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: black;
}

.MuiLinearProgress-root {
    height: 18px!important;
    overflow: hidden;
    position: relative;
}
